//---------CAIRO---------//
@font-face {
  font-family: "Cairo";
  src: local("Cairo ExtraLight"), local("Cairo-ExtraLight"),
    url("./src/assets/font/Cairo/Cairo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: local("Cairo ExtraBold"), local("Cairo-ExtraBold"),
    url("./src/assets/font/Cairo/Cairo-ExtraBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: local("Cairo Light"), local("Cairo-Light"),
    url("./src/assets/font/Cairo/Cairo-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: local("Cairo Regular"), local("Cairo-Regular"),
    url("./src/assets/font/Cairo/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: local("Cairo Medium"), local("Cairo-Medium"),
    url("./src/assets/font/Cairo/Cairo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
