//---------BREAKPOINTS---------//
// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
// Double extra large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

//---------FONT---------//

@mixin font-face($font-family, $pathname, $font-weight, $font-style: normal) {
  font-family: $font-family, sans-serif;
  //src: url("@/assets/font/" + $font-family + "/" + $pathname + ".ttf") format("truetype");
  src: url("@/assets/font/Cairo/Cairo-ExtraBold.ttf") format("truetype");
  font-weight: $font-weight;
  font-style: $font-style;
}
